body, h1, h2, p, a, img {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

.h23 {
  margin-left: 20px;
  margin-top: 10px;
}

h1 {
  margin-left: 7px;
}

.aych22 {
  background-color: #c4c4c4;
  border-radius: 10px;
  position: relative;
  width: 95%;
  margin: 10px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header, footer {
  background-color: #224B2A;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header {
  display: flex;
  align-items: center;
  padding-left: 100px; /* Offset from the left */
}

header img {
  max-width: 150px; /* Logo size */
  margin-right: 20px; /* Spacing between logo and title */
}

#about {
  margin-top: 2rem; /* Added space above the about section */
  margin-bottom: 3rem; /* Added space above the about section */
  border-radius: 10px;
  position: relative;
  width: 95%;
  margin: 10px;
}

.container {
  padding: 15px; /* Space between the border and content */
  margin: 0 auto; /* Center the container */
  max-width: 95%; /* Prevent the container from taking the full screen width */
}

#past-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

.project {
  position: relative;
  width: 95%;
  margin: 10px;
}

.project img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.project a {
  position: relative;
  overflow: hidden; /* Hide overflowing parts of the image */
}

.project a::before {
  content: "";
  display: block;
  padding-bottom: 100%; /* Force the link to maintain a square shape */
}
